

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>VIDOE - Video Streaming Website HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="img/favicon.png">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="css/osahan.css" rel="stylesheet">
   </head>
   <body>
      <section class="p-5 intro-page">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3 mx-auto text-center pt-4">
                  <a target="_blank" href="index.html"><img class="img-fluid rounded" src="img/theme1.png" alt="theme2"></a>
                  <p class="land mt-4"><a target="_blank" href="index.html">Demo 1 <small class="text-white bg-danger pl-2 pr-2 pt-1 pb-1">Footer + Comment Section + Blog + Contact</small></a></p>
                  <div class="mt-1">
                     <a href="index.html" target="_blank" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                  </div>
               </div>
   			   <div class="col-md-3 mx-auto text-center pt-4">
                     <a target="_blank" href="theme-two/index.html"><img class="img-fluid rounded" src="img/theme2.png" alt="theme1"></a>
                     <p class="land mt-4"><a target="_blank" href="theme-two/index.html">Demo 2</a></p>
                     <div class="mt-1">
                        <a target="_blank" href="theme-two/index.html" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                     </div>
               </div>
               <div class="col-md-3 mx-auto text-center pt-4">
                     <a target="_blank" href="theme-three/index.html"><img class="img-fluid rounded" src="img/theme3.png" alt="theme3"></a>
                     <p class="land mt-4"><a target="_blank" href="theme-three/index.html">Demo 3</a></p>
                     <div class="mt-1">
                        <a target="_blank" href="theme-three/index.html" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                     </div>
               </div>
			   <div class="col-md-3 mx-auto text-center pt-4">
                  <a target="_blank" href="theme-four/index.html"><img class="img-fluid rounded" src="img/theme4.png" alt="theme4"></a>
                  <p class="land mt-4"><a target="_blank" href="theme-four/index.html">Demo 4</a></p>
                  <div class="mt-1">
                     <a href="theme-four/index.html" target="_blank" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3 mx-auto text-center pt-4">
                     <a target="_blank" href="theme-rtl/index.html"><img class="img-fluid rounded" src="img/theme5.png" alt="theme5"></a>
                     <p class="land mt-4"><a target="_blank" href="theme-rtl/index.html">Demo 5 <small class="text-white bg-danger pl-2 pr-2 pt-1 pb-1">RTL</small></a></p>
                     <div class="mt-1">
                        <a target="_blank" href="theme-rtl/index.html" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                     </div>
               </div>
               <div class="col-md-3 mx-auto text-center pt-4">
                     <a target="_blank" href="theme-five/index.html"><img class="img-fluid rounded" src="img/theme6.png" alt="theme6"></a>
                     <p class="land mt-4"><a href="#">Demo 6 <small class="text-white bg-danger pl-2 pr-2 pt-1 pb-1">BLACK</small></a></p>
                     <div class="mt-1">
                        <a target="_blank" href="theme-five/index.html" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                     </div>
               </div>
               <div class="col-md-3 mx-auto text-center pt-4">
                  <a target="_blank" href="theme-six/index.html"><img class="img-fluid rounded" src="img/theme7.png" alt="theme4"></a>
                  <p class="land mt-4"><a target="_blank" href="theme-six/index.html">Demo 7 <small class="text-white bg-danger pl-2 pr-2 pt-1 pb-1">YouTube Mobile Menu</small></a></p>
                  <div class="mt-1">
                     <a href="theme-six/index.html" target="_blank" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                  </div>
               </div>
			   <div class="col-md-3 mx-auto text-center pt-4">
                     <a target="_blank" href="theme-seven/index.html"><img class="img-fluid rounded" src="img/theme8.png" alt="theme8"></a>
                     <p class="land mt-4"><a target="_blank" href="theme-seven/index.html">Demo 8</a></p>
                     <div class="mt-1">
                        <a target="_blank" href="theme-seven/index.html" class="btn btn-outline-primary btn-sm">VIEW DEMO</a>
                     </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/custom.js"></script>
   </body>
</html>

